@import "bootstrap-sprockets";
@import "bootstrap";

// typography
//reference : https://www.railstutorial.org/book/filling_in_the_layout
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}




$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  //color: #000;
	color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bolder;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0aa0d9;
}

#header{

	//background-color: #fff;

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

// html {
//   background: url('app/assets/images/AdobeStock_66582497_WM.jpeg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
body{
	padding-top:50px;
	//background-color:grey;

}

section{
	overflow:auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align:center;
}
.center h1{
	margin-bottom:0px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* forms */

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

// ~K
.navbar-inverse {
    background-color: #0c98cf;
    border-color: #6c6e70;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff568;
    background-color: #0aa0d9;
}

.lead {
    font-size: 21px;
    color: #2d3033;
}

.home-title-box {
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 60%;
    height: 25%;
    background-color: rgba(45, 48, 51, 0.5);
    text-align: center;
    vertical-align: middle;
    padding-top: auto;
    padding-bottom:auto;

}
