@import "bootstrap-sprockets";
@import "bootstrap";

// typography
//reference : https://www.railstutorial.org/book/filling_in_the_layout

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  //color: #000;
	color:#fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bolder;

}

#header{

	//background-color: #fff;

}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
// html {
//   background: url('app/assets/images/AdobeStock_66582497_WM.jpeg') no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
body{
	padding-top:50px;
	//background-color:grey;

}

section{
	overflow:auto;
}

textarea{
	resize: vertical;
}

.center{
	text-align:center;
}
.center h1{
	margin-bottom:0px;
}
