// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_section{

  // we can put background image here
  //background-color: grey;

  height: auto;
  width: 100%;
  background-image: image-url("AdobeStock_66582497_WM.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  // position:fixed;
  // overflow: auto;
}

#home_inner_section{
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.6);
  color: white;

  //vertical-align: middle;
  // adding the fade in animation for the sign up section
  // does not support IE webrowser
  animation: fadein 3s;
      -moz-animation: fadein 4s; /* Firefox */
      -webkit-animation: fadein 4s; /* Safari and Chrome */
      -o-animation: fadein 4s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }

  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
