// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home_section{

  // we can put background image here
  //background-color: grey;
  height: 600px;
  width: 100%;
  background-image: image-url("AdobeStock_66582497_WM.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  //background-attachment:fixed;
  background-position: left top;
  //position:absolute;

  margin:0;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background-repeat: no-repeat;
  // position:fixed;
  // overflow: auto;
}

#home_section2{

  // we can put background image here
  //background-color: grey;
  height: 600px;
  background-image: image-url("AdobeStock_84206998_WM.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  //background-attachment:fixed;
  background-position: top center;
  //position:absolute;

  margin-top:auto;
  margin-bottom: auto;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // background-repeat: no-repeat;
  // position:fixed;
  // overflow: auto;
}
#home_inner_section{
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.6);
  color: white;
  position:relative;
  top: 100px;


  //vertical-align: middle;
  // adding the fade in animation for the sign up section
  // does not support IE webrowser
  animation: fadein 3s;
      -moz-animation: fadein 3s; /* Firefox */
      -webkit-animation: fadein 3s; /* Safari and Chrome */
      -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }

  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }


// styling for about info on homepage
#about {
  text-align: left;
  font-size: 1.5em;
}
