<% provide(:title, "Home") %>
	<h1>Home</h1>
	<div class="center jumbotron" id ="home_section">
		<div class ="center jumbotron" id ="home_inner_section">
		<h1>Welcome to Shoppu</h1>

	  <h2>
	    Make your shopping personal

	  </h2>

		<br>
	  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
	</div>
	</div>
